.well
  %header
    %h1 Admin Sign in
  %form.form
    .control-group
      %label User Name
      %input.form-control
      %label Password
      %input.form-control(type="password")
      %input(type="submit" value="Sign In" class="btn btn-success btn-large" style="margin-top: 40px;")
