.well
  %header
    %h2 Participants with Submitted Questions

.well
  %table.well.table.table-condensed
    %tr
      %th(width="50%") User
      %th(width="20%") Pending Questions
      %th(width="30%") Longest Question Time Waiting
    %tr
      %td
        Alice Doe
      %td
        2
      %td
        15 minutes
    %tr
      %td
        Bob Doe
      %td
        1
      %td
        20 minutes
    %tr
      %td
        James Doe
      %td
        1
      %td
        1 hour
