.well
  %h2
    Question Details

  .control-group
    .row(style="margin-left: 20px;")
      %label(style="margin-right: 40px;") One-Liner
      %label Here is the one-liner for a different user's question
    .row(style="margin-left: 20px;")
      %label(style="margin-right: 40px;") Details
      %br
      %p(style="margin-left: 90px;")  Very general question I was hoping someone could clarify for me. I'm looking at the basic generated scaffold code for a model called products. I noticed the new and show actions in the controller don't have much written in them. In fact, show is entirely empty and new only has the line "@product = Product.new". I know these 2 actions are supposed to go to a separate view. A view to show the resource, and a new form view to input info and create a resource, respectively.
